$black-pearl: #061224;
$denim: #1064E5;
$white: #FFF;
$cobalt: #0046B0;
$abbey: #595A5B;
$gray: #E2EDFB;
$iceberg: #D8F1F0;
$overlay: linear-gradient(293.97deg, #FFFFFF -9.96%, rgba(255, 255, 255, 0) 111.88%);

$mobile-btn: 0.857em; //12px
$normal-mobile: 1em; //14px
$normal-desktop: 1.143em; //16px
$title-mobile: 1.28em; //18px
$title-mobile2: 1.429em; //20px
$mobile-headline: 1.714em; //24px
$tablet-headline: 2.571em; //36px
$desktop-headline: 2.857em; //40px